{% load static %}
<!DOCTYPE html>
<html>
<head>
     <title>Career Tracker</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
</head>
<body>
     <nav>
          <h2>Career Tracker</h2>
    
     <a href="/">Home<a>
     <a href="skills">Skills</a>
     <a href="courses">Courses</a>
     <a href="Tasks">Tasks</a>
     </nav>
     <h1>Welcome to Career Tracker!</h1>
<section class="hero">
     <p1>Track your skills, courses daily tasks and career goals 
          in one simple palce.</p1>
     <button>Get Started</button>
     </section>
     <section class="features">
          <div class="feature-card">
               <h3> Career Goals</h3>
               <p>Set and track your career goals step by step.</p>
          </div>
          <div class="feature-card">
               <h3>Skills</h3>
               <p>Track the technical skills you are learning</p>
          </div>
          <div class="feature-card">
               <h3> Courses</h3>
               <P>Keep all your courses and learning progress organized</P>
          </div>
     </section>
</body>
</html>   
