{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>Skills - Career Tracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
</head>
<body>
    <nav>
        <h2>Career Tracker</h2>
        <a href="/">Home</a>
        <a href="/skills/">Skills</a>
        <a href="#">Courses</a>
        <a href="#">Tasks</a>
    </nav>
    <section class="hero">
        <h1>My skills</h1>
        <p>Track the technical skills you are learning for your career</p>
    </section>
    <section class="features">
        <div class="feature-card">
            <h3>Python</h3>
            <p>Learning Programming and problem-solving</p>
        </div>
        <div class="feature-card">
            <h3>SQL</h3>
            <p>Learning databses and writing SQL queries</p>
        </div>
        <div class="feature-card">
        <h3>Django</h3>
        <p> Building web applications using python and Django.</p>
        </div>
        <div class="feature-card">
            <h3>Git & hub</h3>
            <p>Managing Projects using Version control.</p>
        </div>
    </section>
    
</body>
</html>